* {
	box-sizing: border-box;
 	font-family: "Times New Roman", Times, serif;
}

body {
	background-color: #E0E3E0;
}

/**INICIO HEADER**/
#header-nav {
	background-color: #B5B9B5;
	border-radius: 0;
	border: 2px solid black;
}

.navbar-brand {
	text-decoration: none;
	height: 70px;
}

.navbar-brand h1 {
	color: black;
	margin: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid black;
	border-radius: 0;
}

#list ul {
	margin: 0px;
	padding: 0px;
}

#list a {
	text-align: center;
	color: black;
	font-size: 25px;
}
/**FIN HEADER**/

/**INICIO MAIN CONTENT**/
#main-content {
	margin-top: 50px #B5B9B5;
}

#main-title {
	text-align: center;
	font-size: 35px;
	margin-bottom: 50px;
}

.item {
	background-color: #B5B9B5;
	padding: 20px;
	margin-bottom: 20px;
}

.item-title {
	text-align: center;
	font-size: 25px;
}

.item-content {
	text-align: justify;
	font-size: 17px;
}
/**FIN MAIN CONTENT**/